/* supports colors: red, blue, green, yellow, purple, orange, pink, brown, grey */

/* red */
#color-red .step {
    background-color: #fbe9e7;
    border: 2px solid #ff8f87;
}
#color-red .step.active {
    background-color: #fdb2ac;
}
#color-red .step.playing {
    outline: 2px solid #ff8f87;
}

/* blue */
#color-blue .step {
    background-color: #e3f2fd;
    border: 2px solid #64b5f6;
}
#color-blue .step.active {
    background-color: #90caf9;
}
#color-blue .step.playing {
    outline: 2px solid #64b5f6;
}

/* green */
#color-green .step {
    background-color: #e8f5e9;
    border: 2px solid #81c784;
}
#color-green .step.active {
    background-color: #a8dcab;
}
#color-green .step.playing {
    outline: 2px solid #81c784;
}

/* yellow */
#color-yellow .step {
    background-color: #fff59d;
    border: 2px solid #ffe600;
}
#color-yellow .step.active {
    background-color: #ffe922;
}
#color-yellow .step.playing {
    outline: 2px solid #ffe600;
}

/* purple */
#color-purple .step {
    background-color: #f3e5f5;
    border: 2px solid #ba68c8;
}
#color-purple .step.active {
    background-color: #ce93d8;
}
#color-purple .step.playing {
    outline: 2px solid #ba68c8;
}

/* orange */
#color-orange .step {
    background-color: #ffe0b2;
    border: 2px solid #ffab40;
}
#color-orange .step.active {
    background-color: #ffcc80;
}
#color-orange .step.playing {
    outline: 2px solid #ffab40;
}

/* pink */
#color-pink .step {
    background-color: #f8bbd0;
    border: 2px solid #f06292;
}
#color-pink .step.active {
    background-color: #f48fb1;
}
#color-pink .step.playing {
    outline: 2px solid #f06292;
}

/* brown */
#color-brown .step {
    background-color: #d7ccc8;
    border: 2px solid #8d6e63;
}
#color-brown .step.active {
    background-color: #a1887f;
}
#color-brown .step.playing {
    outline: 2px solid #8d6e63;
}

/* grey */
#color-grey .step {
    background-color: #eeeeee;
    border: 2px solid #9e9e9e;
}
#color-grey .step.active {
    background-color: #bdbdbd;
}
#color-grey .step.playing {
    outline: 2px solid #9e9e9e;
}

